.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  background-size: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

html, body {

  background-image: Url("background.png");
  background-size: 100vh;
  display: flex;
  flex-direction: column;
}


.App-link {
  color: #61dafb;
}

.reactstrap5jumbotronclone {
  background-color: #29536D;
}

.header-links {
  justify-content: left;
  color: #F0F0F0;
  text-decoration: none;
  padding-right: 10px;
}

.header-bar {
  background-color: #29536D;
  height: 25px;
}

.site-logo {
  width: 266px;
  height: 120px;
  padding: 10px
}

.tag-menu {
  background-color: gray;
}


.gallery-image {
  width: 100px;
  height: 100px;
}

.gallery-image-col {
  padding: 10px;
  align-items: center;
  justify-content: center;
  display: flex;
}

.tag-box{
  float: left;
  color:white;
}

.main-view {
  min-height: calc(100vh - 238px);

}

.footer {
  background-image: Url("footer.png");
  background-repeat: repeat-x;
  bottom: 0px;
  min-width: 100%;
  min-height: 238px;
  /* position: absolute; */
}

/* @container main-view-container (max-height: 1px) {
  .footer {
    position: fixed;
    background-image: Url("84587792_background_footer.png");
    background-repeat: repeat-x;
    bottom: 0px;
    min-width: 100%;
    min-height: 238px;
  }
} */
