.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  background-size: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

body {
  min-height: 100vh;
  background-image: Url("4024_background2.png");
  background-size: 100vh;
  display: flex;
  flex-direction: column;
}
.footer {
  background-image: Url("84587792_background_footer.png");
  background-repeat: repeat-x;
  min-height: 480px;
  bottom: 0;
  min-width: 100%;
  position: absolute;
}

.App-link {
  color: #61dafb;
}

.reactstrap5jumbotronclone {
  background-color: #29536D;
}

.header-links {
  justify-content: left;
  color: #F0F0F0;
  text-decoration: none;
  padding-right: 10px;
}

.header-bar {
  background-color: #29536D;
  height: 25px;
}

.site-logo {
  width: 266px;
  height: 120px;
  padding: 10px
}

.tag-menu {
  background-color: gray;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.gallery-image {
  width: 50px;
  height: 50px;
}

.gallery-image-col {
  padding: 10px;
  align-items: center;
  justify-content: center;
  display: flex;
}

.tag-box{
  float: left;
  color:white;
}

.main-view {
  /* min-height: 1800px; */
}
